documentation/serverless.pptx
demo.md
serverless-web-application.json
local.env
scripts/deploy-app-id.log
scripts/deploy-cloudant.log
scripts/deploy-login-functions.log
scripts/deploy-protected-functions.log
scripts/cloudant/node_modules
scripts/text-replace/node_modules
scripts/cloudant/package-lock.json
scripts/text-replace/package-lock.json
scripts/text-replace/etc
scripts/cloudant/etc
scripts/cloudant/.env
function-login/config.json
function-login/swagger-login.json
function-login/swagger-protected.json


angular