documentation/serverless.pptx
demo.md
serverless-web-application.json
local.env
scripts/deploy-app-id.log
scripts/deploy-cloudant.log
scripts/deploy-login-function.log
scripts/deploy-protected-function.log
scripts/deploy-local-webapp.log
scripts/cloudant/node_modules
scripts/text-replace/node_modules
scripts/cloudant/package-lock.json
scripts/text-replace/package-lock.json
scripts/text-replace/etc
scripts/cloudant/etc
scripts/cloudant/.env
function-login/config.json
function-login/swagger-login.json
function-protected/swagger-protected.json
angular/node_modules
.vscode
angular/src/assets/config.json